# ===========================
# Java Class Files
# ===========================
*.class

# ===========================
# Package Files
# ===========================
*.jar
*.war
*.ear

# ===========================
# Log Files
# ===========================
*.log

# ===========================
# Eclipse Specific
# ===========================
.project
.classpath
.settings/

# ===========================
# VSCode Specific
# ===========================
.vscode/

# ===========================
# IntelliJ IDEA Specific
# ===========================
.idea/
*.iml
out/

# ===========================
# Mac OS Specific
# ===========================
.DS_Store

# ===========================
# Build/Output Folders
# ===========================
bin/
build/
target/

# ===========================
# Temporary Files
# ===========================
*.tmp
*.swp
.DS_Store
.DS_Store
